.header-flat {
    border: 1px solid #dce0e0;
    line-height: 1.42857143;
    color: #333333;
    background-color: white;
    text-align: top;
}

.header-flat h1 {
    font-size: 18px;
    font-weight: 500;
}

.header-flat p {
    font-size: 14px;
    color: #777777;
}

.header-flat-details {
    text-align: top;
  }
